[submodule "first-party/dat-archive"]
	path = first-party/dat-archive
	url = https://github.com/jtljac/dat-archive
[submodule "first-party/dat-vfs"]
	path = first-party/dat-vfs
	url = https://github.com/jtljac/dat-vfs